@charset "utf-8";

// General rules
@media all {
    *.form-light {
        label.form-light-label {
            display: block;
            filter: opacity(50%);
            font-size: 14px;
            font-weight: bold;
            line-height: 16px;
            padding: 10px 0;
        }

        select.form-light-select {
            width: 100% !important;
        }

        input[type="date"].form-light-date,
        input[type="email"].form-light-email,
        input[type="number"].form-light-number,
        input[type="password"].form-light-password,
        input[type="tel"].form-light-tel,
        input[type="text"].form-light-text,
        select.form-light-select,
        textarea.form-light-textarea {
            background-color: #f2f2f2;
            border: 0;
            border-bottom: 2px solid #ccc;
            border-radius: 5px;
            font-family: inherit;
            font-size: 14px;
            line-height: 16px;
            outline: none;
            min-height: 20px;
            padding: 10px 10px 8px 10px;
            width: calc(100% - 22px);

            &:focus {
                border-bottom-color: var(--secondary-color) !important;
                background-color: #f2f2f2 !important;
                transition: all 0.4s ease-in-out;
            }

            &.modern-form-required:required {
                background-color: rgba(255, 255, 0, 0.1);
            }
        }
    }
}

// Hacking to Select2
@media all {
    *.form-light {
        .select2 {
            width: inherit !important;
        }
        .select2-selection__rendered {
            align-items: center !important;
            color: var(--body-color) !important;
            display: flex !important;
            font-size: 14px !important;
        }
        .select2-selection--single {
            background-color: #f2f2f2 !important;
            border: 1px solid #ccc !important;
            height: 38px !important;
        }
        .select2-selection__rendered,
        .select2-selection__arrow {
            line-height: 16px;
            height: 40px !important;
        }
        .select2-idGrupoMuscular-results li:nth-child(even) {
            background-color: #f2f2f2;
        }
    }
}

@media screen and (max-width: 799px) {
    select.form-light-select {
        width: 100% !important;
    }
}
