@media all {
    span.modern-badge {
        background-color: #ccc;
        border: 0px;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
        padding: 5px 10px;
        text-align: center;
        width: 100px;

        &.type-info {
            background-color: royalblue;
        }

        &.type-success {
            background-color: #27ae60;
        }

        &.type-danger {
            background-color: #e74c3c;
        }
    }
}
