@media all {
    aside {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    aside.modern-template-content {
        overflow-y: auto;
        transition: ease-in 0.5s;
        width: calc(100%);

        &.expand {
            padding-left: 0px !important;
        }
    }
}

@media all and (max-width: 799px) {
    aside.modern-template-sidebar {
        height: calc(100% - 60px);
        position: absolute;
        width: 0;
        z-index: 5;
    }
    aside.modern-template-content {
        padding-left: 0px;
    }
}
